body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;

  margin: 0;
  font-family: "system-ui", "Segoe UI", Roboto, "Apple Color Emoji", Helvetica,
    Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  grid-column: 1 / 3;
  background-color: #dd4c3d;
  display: flex;
  align-items: center;
  color: white;
}

#logo {
  content: url(/src/assets/logo.svg);
  height: 50px;
  filter: invert(100%) sepia(80%) saturate(79%) hue-rotate(206deg)
    brightness(116%) contrast(96%);
}

#nav {
  background-color: #fafafa;
  display: grid;
  grid-template-rows: auto auto auto 900px;
}

#nav > div {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0 0 0 20px;
  background-color: #fafafa;
}

#nav > div:hover {
  filter: brightness(0.85);
}

#nav > div:active {
  filter: brightness(0.55);
}

.inbox img {
  content: url(/src/assets/inbox.svg);
  filter: invert(40%) sepia(91%) saturate(483%) hue-rotate(177deg)
    brightness(102%) contrast(85%);
}

.today img {
  content: url(/src/assets/today.svg);
  filter: invert(19%) sepia(97%) saturate(4272%) hue-rotate(144deg)
    brightness(96%) contrast(98%);
}

.upcoming img {
  content: url(/src/assets/upcoming.svg);
  filter: invert(20%) sepia(78%) saturate(2688%) hue-rotate(255deg)
    brightness(89%) contrast(97%);
}

#nav img {
  height: 30px;
}

.project-section {
  margin-top: 10px;
  padding: 0 0 0 20px;
}

.project-title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.project-title h2 {
  color: rgb(0, 0, 0, 0.56);
  font-size: 18px;
  margin: 0;
}

#add-project {
  content: url(/src/assets/add-project.svg);
  filter: invert(44%) sepia(58%) saturate(21%) hue-rotate(342deg)
    brightness(98%) contrast(89%);
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

#add-project:hover {
  transform: scale(1.2);
}

#add-project:active {
  transform: scale(1);
}

#project-form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#project-form input {
  margin-right: 20px;
  height: 25px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}

.errorMsg-Project,
.errorMsg-Todo,
.errorMsg-Date,
.errorMsg-date-update {
  color: red;
  font-size: 0.85em;
}

#project-form button {
  height: 30px;
  width: 60px;
  padding: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
}

#project-form button:active {
  transform: scale(0.8);
}

#project-check {
  margin-right: 10px;
  background-color: #db4c3f;
  color: white;
}

#project-check:hover {
  filter: brightness(0.85);
}

#project-cancel {
  background-color: #d0d0d0;
  color: #444444;
}

#project-cancel:hover {
  filter: brightness(0.85);
}

.project {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  background-color: #fafafa;
  cursor: pointer;
  margin-bottom: 5px;
  color: rgb(0, 0, 0, 0.8);
}

.project-delete {
  margin-right: 10px;
  content: url(/src/assets/delete.svg);
  filter: invert(44%) sepia(58%) saturate(21%) hue-rotate(342deg)
    brightness(98%) contrast(89%);
}

.project:hover {
  filter: brightness(0.85);
}

.project:active {
  filter: brightness(0.55);
}

.project-icon {
  content: url(/src/assets/dot.svg);
  filter: invert(44%) sepia(58%) saturate(21%) hue-rotate(342deg)
    brightness(98%) contrast(89%);
}

/* ////////////////////////// */
#project-form.hidden {
  display: none;
}

#add-todo.hidden {
  display: none;
}

.todo-form.hidden {
  display: none;
}

.todo.hidden {
  display: none;
}

.editTodo-form.hidden {
  display: none;
}

/* ////////////////////////// */

#mainContainer {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#add-todo {
  margin-top: 20px;

  content: url(/src/assets/add-todo.svg);
  filter: invert(36%) sepia(71%) saturate(3015%) hue-rotate(342deg)
    brightness(95%) contrast(82%);
  height: 40px;
  cursor: pointer;
}

#add-todo:active {
  transform: scale(0.85);
}

.whichProjectItis {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.todo-form,
.editTodo-form {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  justify-content: center;
}

.todo-form input,
.editTodo-form input {
  height: 1.5em;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}

.todo-form .button,
.editTodo-form .button {
  height: 2em;
  width: 6.5em;
  border: none;
  border-radius: 3px;
}

.todo-form .button-submit,
.editTodo-form .button-update {
  color: white;
  font-weight: bolder;
  background-color: #db4c3f;
}

.todo-form .button-submit:hover,
.editTodo-form .button-update:hover {
  filter: brightness(0.85);
}

.todo-form .button-cancel,
.editTodo-form .button-cancelUpdate {
  color: #444444;
  font-weight: bolder;
  background-color: #d0d0d0;
}

.todo-form .button-cancel:hover,
.editTodo-form .button-cancelUpdate:hover {
  filter: brightness(0.85);
}

.todoContainer {
  width: 99%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  width: 99%;
  min-height: 30px;

  display: grid;
  grid-template-columns: auto 1fr 1.5fr 0.5fr 1fr 1fr auto auto;
  border-bottom: 1px solid lightgray;

  border-radius: 15px;
}

.todo.Important {
  border-left: 15px solid red;
}

.todo.Normal {
  border-left: 15px solid orange;
}

.todo.Easy {
  border-left: 15px solid pink;
}

.todo.true {
  color: grey;
  text-decoration: line-through;
  border-left: 15px solid grey;
}

.todo > * {
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.todo .title {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.priority.Important {
  color: red;
}

.priority.Normal {
  color: orange;
}

.priority.Easy {
  color: pink;
}

.todo input {
  margin: 0 0 0 10px;
  border: 0px;
  width: 100%;
  height: 2em;
  accent-color: green;
}

.todo img {
  height: 20px;
  cursor: pointer;
  filter: invert(50%) sepia(81%) saturate(3%) hue-rotate(358deg) brightness(85%)
    contrast(84%);
}

.todo img:active {
  transform: scale(0.85);
}

.edit-todo {
  content: url(/src/assets/edit.svg);
  height: 1px;
  margin-right: 10px;
}

.delete-todo {
  content: url(/src/assets/delete.svg);
  margin-right: 20px;
}
